<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<div class="container">
			<nav>
				<ul>
					{{range .Menu}}
						{{if .Current}}<li class="current"><a href="{{.Dest}}" />{{.Title}}</a></li>
						{{else}}<li><a href="{{.Dest}}" />{{.Title}}</a></li>
						{{end}}
					{{end}}
				</ul>
				<div class="auto-ad">made with <a href="https://github.com/GOKOP/markdown-website" target="blank">markdown-website</a></div>
			</nav>
			<article>
				{{.Content}}
			</article>
		</div>
		<footer>
			Copyright © year name surname
		</footer>
	</body>
</html>
